<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Golarín</title>
    <link rel="icon" href="{% static 'web/imagenes/golarin.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'web/css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
<div id="app-container">
    <aside class="sidebar">
        <div class="sidebar-brand">
            <div class="icono-brand">
                <img src="{% static 'web/imagenes/golarin.png' %}" alt="Logo">
            </div>
            <div class="nombre-brand">
                <h5 class="tomorrow-medium">Golarín</h5>
            </div>
        </div>

        <nav class="sidebar-links">
            <a href="{% url 'inicio' %}">
                <i class="fa-solid fa-house"></i> Inicio
            </a>
            <a href="{% url 'nuevoParlay' %}">
                <i class="fa-solid fa-dice"></i> Nuevo Parlay
            </a>
            <a href="{% url 'datasets' %}">
                <i class="fa-solid fa-database"></i> Datasets
            </a>
        </nav>

        <div class="sidebar-footer">
            <div class="perfil-usuario">
                <div class="avatar">
                    <span class="avatar-text">{{ user.username.0|upper }}</span>
                </div>
                <div class="usuario-info">
                    <a href="{% url 'nuevoParlay' %}" class="username">{{ user.nombre }} {{ user.apellido }}</a>
                    <span class="user-role">@{{ user.username }}</span>
                </div>
            </div>

            <a href="{% url 'logOut' %}" class="logout-link">
                <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
            </a>
        </div>
    </aside>

    <main class="main-content">
        {% block contenido %}
        {% endblock %}
    </main>
</div>

<footer>
    <div id="linea"></div>
    <div class="footer-text">
        <p>© 2026 Golarín. Todos los derechos reservados.</p>
    </div>
</footer>

</body>
</html>